body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: white
}

h1 {
    color: green
}

table {
    border-collapse: collapse;
    width: 100%;
    background: white
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

th {
    background-color: azure;
}

tr:hover {
    background-color: aqua;
}